body {
    background: url('https://LeonardoDevBa.github.io/medo/files/floresta.gif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
}

/* Contêiner principal */
#principal {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    margin: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0);
}

#principal input,
#principal button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    text-align: center;
    width: 100px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#principal p {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #cf1111;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#principal button:hover,
#principal input:focus {
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
    outline: none;
}

#resp {
    justify-content: center;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

#resp p {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    #principal input,
    #principal button {
        width: 90%;
        font-size: 14px;
    }
}
